/* 변경 전 A */

box-sizing: border-box;

position: relative;
width: 593px;
height: 1139px;

background: #444444;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 2px;


/* 자유게시판 */

/* 오토레이아웃 */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: relative;
width: 393px;
height: 652px;
left: 100px;
top: 100px;
overflow-y: scroll;

background: #FFFFFF;


/* Status Bar */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 112px;

width: 393px;
height: 54px;

background: #FFFFFF;

/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Time */

width: 140.5px;
height: 54px;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Time */

position: absolute;
left: 37.67%;
right: 38.13%;
top: 33.96%;
bottom: 30.85%;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 110%;
/* 상자 높이와 동일 또는 19px */

color: #121212;

/* ... (너가 보내준 “변경 전 A” 원문 그대로 이어짐) ... */

/* Home Indicator */

position: absolute;
width: 139px;
height: 5px;
left: calc(50% - 139px/2);
bottom: 8px;

background: #000000;
border-radius: 100px;
transform: matrix(-1, 0, 0, 1, 0, 0);
