
box-sizing: border-box;

position: relative;
width: 593px;
height: 1139px;

background: #444444;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 2px;


/* 내체육관 글 일반사용자 작성 페이지 */

position: relative;
width: 393px;
height: 852px;
left: 100px;
top: 100px;

background: #FFFFFF;


/* Top Navigation */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 16px;
gap: 10px;

position: absolute;
height: 24px;
left: 0px;
right: 0px;
top: 64px;

background: #FFFFFF;


/* Container */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

margin: 0 auto;
width: 90px;
height: 24px;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Icon Container */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 24px;
height: 24px;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Back Icon */

width: 24px;
height: 24px;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Left 2 */

position: absolute;
width: 4px;
height: 10px;
left: 10px;
top: 7px;



/* Vector */

position: absolute;
left: 41.67%;
right: 41.67%;
top: 29.17%;
bottom: 29.17%;

border: 3px solid #101828;
border-radius: 3px;


/* Page Title */

width: 56px;
height: 22px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 110%;
/* 상자 높이와 동일 또는 22px */
text-align: center;

color: #101828;


/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Complete */

margin: 0 auto;
width: 28px;
height: 17px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
/* 상자 높이와 동일 또는 17px */
text-align: center;

color: #99A1AF;


/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Schedule Info */

/* 오토레이아웃 */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 20px;

position: absolute;
width: 393px;
height: 306px;
left: calc(50% - 393px/2);
top: 108px;



/* Container */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 16px;
gap: 194px;

width: 393px;
height: 44px;

border-bottom: 1px solid rgba(18, 18, 18, 0.05);

/* 내부 오토레이아웃 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Instruction Text */

width: 146px;
height: 17px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
/* 상자 높이와 동일 또는 17px */

color: #101828;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Dropdown Icon */

width: 24px;
height: 24px;


/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Down 2 */

position: absolute;
width: 10px;
height: 4px;
left: 7px;
top: 10px;



/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 41.67%;
bottom: 41.67%;

border: 1.5px solid #101828;
border-radius: 3px;


/* Title Container */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 393px;
height: 66px;

border-bottom: 1px solid rgba(18, 18, 18, 0.05);

/* 내부 오토레이아웃 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 361px;
height: 46px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;
/* 또는 22px */

color: #99A1AF;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 1;


/* Icon Container */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 16px;
gap: 20px;

width: 393px;
height: 24px;


/* 내부 오토레이아웃 */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Image Icon */

width: 24px;
height: 24px;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Image */

position: absolute;
width: 18px;
height: 18px;
left: 3px;
top: 3px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 1.5px solid #101828;


/* Video Icon */

width: 24px;
height: 24px;


/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Video 2 */

position: absolute;
width: 22px;
height: 16px;
left: 1px;
top: 4px;



/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 16.67%;
bottom: 16.67%;

border: 1.5px solid #101828;


/* Content Container */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 393px;
height: 112px;

border-top: 1px solid rgba(18, 18, 18, 0.05);

/* 내부 오토레이아웃 */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Content */

width: 361px;
height: 92px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;
/* 또는 22px */

color: #99A1AF;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 1;


/* Status Bar */

position: absolute;
width: 393px;
height: 54px;
left: calc(50% - 393px/2);
top: 0px;

background: rgba(255, 255, 255, 0.15);
backdrop-filter: blur(6px);
/* 참고: 배경 필터는 최소한의 브라우저만 지원합니다 */


/* Time */

position: absolute;
height: 54px;
left: 0%;
right: 64.25%;
top: calc(50% - 54px/2);



/* Time */

position: absolute;
left: 37.67%;
right: 38.13%;
top: 33.96%;
bottom: 30.85%;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 110%;
/* 상자 높이와 동일 또는 19px */

color: #121212;



/* Levels */

position: absolute;
height: 54px;
left: 64.25%;
right: 0%;
top: calc(50% - 54px/2);



/* Battery */

position: absolute;
left: 57.65%;
right: 22.9%;
top: 42.59%;
bottom: 33.33%;



/* Border */

box-sizing: border-box;

position: absolute;
width: 25px;
left: calc(50% - 25px/2 + 23.25px);
top: 42.59%;
bottom: 33.33%;

background: #000000;
mix-blend-mode: normal;
opacity: 0.35;
border: 1px solid #000000;
border-radius: 4.3px;


/* Cap */

position: absolute;
width: 1.33px;
left: calc(50% - 1.33px/2 + 37.41px);
top: 51.45%;
bottom: 41.01%;

background: #000000;
mix-blend-mode: normal;
opacity: 0.4;


/* Capacity */

position: absolute;
width: 21px;
left: calc(50% - 21px/2 + 23.25px);
top: 46.3%;
bottom: 37.04%;

background: #000000;
border-radius: 2.5px;


/* Wifi */

position: absolute;
width: 17.14px;
left: calc(50% - 17.14px/2 - 4.98px);
top: 43.77%;
bottom: 33.4%;

background: #000000;


/* Cellular Connection */

position: absolute;
width: 19.2px;
left: calc(50% - 19.2px/2 - 30.65px);
top: 43.58%;
bottom: 33.77%;

background: #000000;


/* Tab Bar Container */

/* 오토레이아웃 */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 393px;
height: 21px;
left: 0px;
bottom: 0px;

background: #FFFFFF;


/* Home indicator */

width: 393px;
height: 21px;
overflow-y: scroll;

backdrop-filter: blur(6px);
/* 참고: 배경 필터는 최소한의 브라우저만 지원합니다 */

/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Home Indicator */

position: absolute;
width: 139px;
height: 5px;
left: calc(50% - 139px/2);
bottom: 8px;

background: #000000;
border-radius: 100px;
transform: matrix(-1, 0, 0, 1, 0, 0);
